<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/CharisSIL-webfont.css" type="text/css">
        <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
    </head>
    <body>
        <h1 id='header'>Word Definitions</h1>
        <button onclick="window.history.back()">Go Back</button>
        {% for word in words %}
		<p>
        <b>{{ word }}</b> 
        {% if words[word]['ipa'] is not none %}
         <i class='ipa'> {{ words[word]['ipa'] }}</i>
        {% endif %}
        {% if words[word]['origin'] is not none %}
        - <i>derived from: {{ words[word]['origin'] }}</i>
        {% endif %}
        <br>
            {% for d in words[word]['definitions'] %}
            {{ loop.index0 + 1 }} - <i>{{ d['pos'] }}</i> {{ d['definition'] }}<br>
            {% endfor %}
		</p>
		{% endfor %}
        {% if notfound %}
        <h1 id='header'>Could not find definitions for:</h1>
        {% for word in notfound %}
		<p>
        <b>{{ word }}</b><br>
		</p>
		{% endfor %}
		{% endif %}
    </body>
</html>
